<!DOCTYPE html>

<html lang="pl-PL">

<head>
    <meta charset="utf-8">
    <title>Wybory Prezydenta Rzeczypospolitej Polskiej w 2000 roku</title>

    <link rel="stylesheet" type="text/css" href="../../main/index.css">

</head>

<body>
<header>
    <hr class="header">
    <h1>Wybory Prezydenta Rzeczypospolitej Polskiej w&nbsp;2000 roku</h1>

    <hr class="footer">
    <h4>
        <a href="../../main/index.html">Polska</a>
        {{ strz1 }}<a href="{{ pref1 }}{{ path1|replace(" ", "%20") }}.html">{{ path1 }}</a>
        {{ strz2 }}<a href="{{ pref2 }}{{ path2|replace(" ", "%20") }}.html">{{ path2 }}{{ path2e }}</a>
        {{ strz3 }}<a href="{{ path3|replace(" ", "%20") }}.html">{{ path3 }}</a></h4>
    <hr>

</header>

{% block main_section %}{% endblock %}<footer>
    <hr class="footer">

</footer>

</body>

</html>